@{
    ViewData["Title"] = "Confirmação Apagar Contato";
}

<div class="center">
    <h3>Deseja realmente apagar o contato? (Philipe Anderson)</h3>
</div>

<a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="Index">Cancelar</a>
<a role="button" class="btn btn-success" asp-controller="Contato" asp-action="Apagar">Confirmar</a>